{% extends "template.html" %}
{% block body %}

	<div class="column">
		<!-- <img src="/upload/{{ messages['second'] }})"  width="30"> -->
	  	<span class="tag is-success is-large">{{ messages['main'] }}</span>
		<img src="{{ messages['second'] }}" style="max-width: 560px; max-height: 315px;">
	  	<!-- <span class="tag is-danger is-large">{{ messages['main'] }}</span> -->
	</div>
</div>
<div class="columns">
	<div class="column is-half is-offset-one-quarter">
	<a class="button is-info" href="/">Try again</a>
	</div>


{% endblock %}


